.profile{
    display: flex;
}
.user{
    height: 450px;
    width: 300px;
    border: 0.5px solid rgb(231, 228, 228);
    margin-left: 120px;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
    font-family: 'Segoe UI';
    font-size: 20px;
    color: #4A2C2A;
    background-color: white;
    border: 0.5px solid rgb(235, 235, 235);
    border-radius: 10px;
}
.photo{
    height: 120px;
    width: 120px;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(250, 234, 193);
    border: 0.5px solid rgb(190, 190, 190);
    border-radius: 50%;
}
.name{
    padding-top: 20px;
    font-size: 25px;
}
.share{
    height: 50px;
    width: auto;
    padding-top: 8px;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #4A2C2A;
    border-radius: 5px;
}
.share a{
    text-decoration: none;
    color: #4A2C2A;
}
.share:hover{
    background-color: #e8dbdb;
    cursor: pointer;
}
.update{
    height: 50px;
    width: auto;
    padding-top: 8px;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #4A2C2A;
    border-radius: 5px;
}
.update a{
    text-decoration: none;
    color: #4A2C2A;
}
.update:hover{
    background-color: #e8dbdb;
    cursor: pointer;
}
.progress{
    margin: 50px;
    height: 200px;
    width: 1000px;
    font-family: 'Segoe UI';
    font-size: 25px;
    color: #4A2C2A;
    background-color: white;
    border: 0.5px solid rgb(235, 235, 235);
    border-radius: 10px;
}
.html{
    margin-top: 200px;
    height: 200px;
    width: 1000px;
    font-family: 'Segoe UI';
    font-size: 25px;
    color: #4A2C2A;
    background-color: white;
    border: 0.5px solid rgb(235, 235, 235);
    border-radius: 10px;
}
.css, .js{
    margin-top: 40px;
    height: 200px;
    width: 1000px;
    font-family: 'Segoe UI';
    font-size: 25px;
    color: #4A2C2A;
    background-color: white;
    border: 0.5px solid rgb(235, 235, 235);
    border-radius: 10px;
}