.logo{
    display: flex;
    justify-content: center;
}
.logo h1{
    padding-right: 2px;
    font-family: 'Segoe UI';
}
.logo img{
    height: 40px;
    width: auto;
    vertical-align: middle;
}
.portal{
    margin: auto;
    padding-left: 25px;
    padding-top: 15px;
    height: 370px;
    width: 350px;
    border: 0.5px solid rgb(198, 198, 198);
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Segoe UI';
}
.portal label{
    font-size: 14px;
    font-weight: bolder;
    /* vertical-align: middle; */
}
input{
    height: 25px;
    width: 90%;
    display: block;
    border-radius: 3px;
    border: 0.5px solid gray;
}
#login{
    text-align: center;
    align-items: center;    
    justify-content: center;
    width: 95%;
    margin-top: 18px;
    /* border: 0.1px solid rgb(173, 173, 173); */
    font-size: 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    background-color: #f15555;
    cursor: pointer;
}

#login:hover{
    /* background-color: #6826aa; */
    background-color: #fd8585;
    transition: 400ms;
}
#login a{
    text-decoration: none;
    color: white;
}
.newac{
    padding-top: 15px;
    font-size: 17px;
}
.create{
    display: flex;
    justify-content: center;
    margin-right: 8%;
}
#signup{
    text-align: center;
    align-items: center;    
    justify-content: center;
    width: 95%;
    margin-top: 20px;
    /* border: 0.1px solid rgb(173, 173, 173); */
    font-size: 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    /* font-family: 'Segoe UI'; */
    background-color: #f15555;
    cursor: pointer;
}
#signup a{
    text-decoration: none;
    color: white;
}
#signup:hover{
    /* background-color: #6826aa; */
    background-color: #fd8585;
    color: #f15555;
    transition: 400ms;
} 
.message{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI';
}
